{{! это лэйаут, он создает нам основную структуру }}
	{{>head }}
	<body>
		{{>navbar}}
		{{! теперь layout принимает некоторые динамические параметры }}
		<div class="container">
			{{{body}}}
		</div>
		
		{{>footer }}
	</body>
</html>